body {
  font-family: 'Cabin', sans-serif;
}

.logo
{
  font-family: 'Lobster', sans-serif;
  font-size: 40px;
}

.carousel-indicators {
    top: 200px;
}


    .carousel-indicators li {
        border-radius: 50%;
        width: 12px;
        height: 12px;
        background-color: #404040;
    }

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
